#span-toolbar {
    margin: 8px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    font-family: Roboto;
}

p {
    font-family: Roboto;
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: initial;
    height: 50px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #234e7a;
    color: white;
    font-weight: 600;
    font-family: Roboto;
}

.toolbar img {
margin: 0 16px;
}

body {
    color: rgb(202, 202, 202);
    /* background-color: gray; */
    background-color: rgb(35, 35, 35)
}

.content {
    color: rgb(202, 202, 202);
    /* color: white; */
    /* background-color: gray; */
    background-color: rgb(35, 35, 35);
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}


#pie-chart { 
    font-family: Roboto;
    background-color: transparent;
}

#chart {
    font-family: Roboto;
    background-color: white;
}

a,
a:visited,
a:hover {
    color: #a3b8ce;
    text-decoration: underline;
}

a:hover {
    color: #125699;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



hr {
    color: rgb(202, 202, 202);

    box-sizing: content-box;
    height: 0;
    overflow: visible
}

.footer-main {
    border-top: 1px solid #ededed;
    padding: 40px 0;
    margin: 40px 0 0;
    font-size: 1.3rem;
    color: rgb(202, 202, 202);
    font-weight: 300;
    text-align: center;
    position: relative
}

.footer-main:before {
    display: block;
    content: " ";
    width: 5px;
    height: 5px;
    border: rgb(202, 202, 202) 1px solid;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    background:rgb(202, 202, 202);
    box-shadow: rgb(202, 202, 202) 0 0 0 5px;
    border-radius: 3px
}

.footer-main>.link {
    display: inline
}

.footer-main>.link>.icon {
    width: 15px !important;
    fill: #aaa !important;
    transition: ease-in-out all .3s;
    position: relative;
    top: 3px;
    display: inherit;
    margin: 0
}

.footer-main>.link>.icon:hover {
    fill: indigo !important
}

.footer-main>.extra {
    color: #aaa;
    margin-top: 0
}

.footer-main>.extra>.link {
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: ease-in-out all .3s;
    padding-bottom: 1px
}

.footer-main>.extra>.link:hover {
    border-color: #aaa
}
